{% comment %}
  Product Info Component
  Renders product information including title, subtitle, price, reviews, and features.
  Accepts:
  - product: {Object} Product object
  - section: {Object} Section object for settings
  Usage:
  {% render 'product-info', product: product, section: section %}
{% endcomment %}

<div class="product-info-container_new">
  <!-- Product Title -->
  <h1 class="product-name_new">
    {%- if section.settings.product_title != blank -%}
      {{ section.settings.product_title }}
    {%- else -%}
      {{ product.title }}
    {%- endif -%}
  </h1>

  <!-- Product Subtitle -->
  {%- if section.settings.product_subtitle != blank -%}
    <p class="product-subtitle_new">{{ section.settings.product_subtitle }}</p>
  {%- endif -%}

  <!-- Reviews -->
  {%- if section.settings.show_reviews and section.settings.review_text != blank -%}
    <div class="review_new">
       <div class="review">
          <!-- Rivyo Product Badge Rating - Dinâmico -->
          {%- assign productRivyoReview = product.metafields.product_schema -%}
          {%- assign shopRivyoReview = shop.metafields.rivyo -%}
          {%- assign shopRivyoReviewSetting = shopRivyoReview.setting.value -%}
          {%- assign productRivyoRating = productRivyoReview.th_ratingValue | split:'.' | default: '0' -%}
          {%- assign rivyoRatingSplit0 = productRivyoRating[0] | times: 1 -%}
          {%- assign rivyoRatingSplit1 = productRivyoRating[1] | default: '00' -%}
          {%- assign rivyoRatingCeil = productRivyoReview.th_ratingValue | ceil -%}
          {% assign hide_non_ratting_review = shopRivyoReviewSetting.hide_empty_review | times: 1 %}
          {% assign is_empty = false %}
          {% assign isClick = true %}
          
          <div class="rivyoReviewWidget rivyoWidgetTrigger" data-rating="{{ productRivyoReview.th_ratingValue | default: '00' }}" style="display:none;">
            <div class="rivyoReviewIcon" style="display:flex; gap:3px; line-height: 0; flex-direction: row">
              {%- for i in (1..5) -%}
                {% if i <= rivyoRatingSplit0 %}
                  <div class="rivyoReviewRatingIcon">
                    {{ shopRivyoReviewSetting.rating_icon }}
                  </div>
                {% elsif i == rivyoRatingCeil %}
                  <div class="rivyoReviewRatingIcon" >
                    <span class="rivyoReviewEmpty">
                      {{ shopRivyoReviewSetting.rating_icon }}
                    </span>
                    {%- unless rivyoRatingSplit1 == '00'-%}
                      <span class="rivyoReviewFill" style="width:{{ rivyoRatingSplit1 }}%">
                        {{ shopRivyoReviewSetting.rating_icon }}
                      </span>
                    {%- endunless -%}
                  </div>
                {% else %}
                  {% if hide_non_ratting_review == 0 or rivyoRatingSplit0 != 0 %}
                    <div class="rivyoReviewRatingIcon" >
                      <span class="rivyoReviewEmpty">
                        {{ shopRivyoReviewSetting.rating_icon }}
                      </span>
                    </div>
                  {% else %}
                    {% assign is_empty = true %}
                  {% endif %}
                {% endif %}
              {%- endfor -%}
            </div>
            {% if is_empty != true %}
              <span class="rivyoReviewAverage">
                <span class="rivyoReviewAverageCount">
                  {{- productRivyoReview.th_ratingValue | default: 0 | round: 1 }}
                </span>
                <span class="reviewRateCount">
                  <span class="rivyoReviewAverageBracket">(</span>
                  <span class="ratingCount">{{- productRivyoReview.th_ratingCount | default: 0 }}</span>
                  <span class="ratingLabel"> {{ shopRivyoReview.average_review_label }}</span>
                  <span class="rivyoReviewAverageBracket">)</span>
                </span>
              </span>
            {% endif %}
          </div>
          
          <!-- Fallback para quando não há reviews do Rivyo -->
          {% if is_empty == true or productRivyoReview.th_ratingValue == blank %}
            <div class="rivyo-fallback-rating">
              <div class="rivyoReviewIcon" style="display:flex; gap:3px; line-height: 0; flex-direction: row">
                <div class="rivyoReviewRatingIcon">
                  <svg fill="#ffcf47" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 475.075 475.075" style="enable-background:new 0 0 475.075 475.075;" xml:space="preserve"><g><path d="M475.075,186.573c0-7.043-5.328-11.42-15.992-13.135L315.766,152.6L251.529,22.694c-3.614-7.804-8.281-11.704-13.99-11.704   c-5.708,0-10.372,3.9-13.989,11.704L159.31,152.6L15.986,173.438C5.33,175.153,0,179.53,0,186.573c0,3.999,2.38,8.567,7.139,13.706   l103.924,101.068L86.51,444.096c-0.381,2.666-0.57,4.575-0.57,5.712c0,3.997,0.998,7.374,2.996,10.136   c1.997,2.766,4.993,4.142,8.992,4.142c3.428,0,7.233-1.137,11.42-3.423l128.188-67.386l128.197,67.386   c4.004,2.286,7.81,3.423,11.416,3.423c3.819,0,6.715-1.376,8.713-4.142c1.992-2.758,2.991-6.139,2.991-10.136   c0-2.471-0.096-4.374-0.287-5.712l-24.555-142.749l103.637-101.068C472.604,195.33,475.075,190.76,475.075,186.573z"></path></g></svg>
                </div>
                <div class="rivyoReviewRatingIcon">
                  <svg fill="#ffcf47" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 475.075 475.075" style="enable-background:new 0 0 475.075 475.075;" xml:space="preserve"><g><path d="M475.075,186.573c0-7.043-5.328-11.42-15.992-13.135L315.766,152.6L251.529,22.694c-3.614-7.804-8.281-11.704-13.99-11.704   c-5.708,0-10.372,3.9-13.989,11.704L159.31,152.6L15.986,173.438C5.33,175.153,0,179.53,0,186.573c0,3.999,2.38,8.567,7.139,13.706   l103.924,101.068L86.51,444.096c-0.381,2.666-0.57,4.575-0.57,5.712c0,3.997,0.998,7.374,2.996,10.136   c1.997,2.766,4.993,4.142,8.992,4.142c3.428,0,7.233-1.137,11.42-3.423l128.188-67.386l128.197,67.386   c4.004,2.286,7.81,3.423,11.416,3.423c3.819,0,6.715-1.376,8.713-4.142c1.992-2.758,2.991-6.139,2.991-10.136   c0-2.471-0.096-4.374-0.287-5.712l-24.555-142.749l103.637-101.068C472.604,195.33,475.075,190.76,475.075,186.573z"></path></g></svg>
                </div>
                <div class="rivyoReviewRatingIcon">
                  <svg fill="#ffcf47" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 475.075 475.075" style="enable-background:new 0 0 475.075 475.075;" xml:space="preserve"><g><path d="M475.075,186.573c0-7.043-5.328-11.42-15.992-13.135L315.766,152.6L251.529,22.694c-3.614-7.804-8.281-11.704-13.99-11.704   c-5.708,0-10.372,3.9-13.989,11.704L159.31,152.6L15.986,173.438C5.33,175.153,0,179.53,0,186.573c0,3.999,2.38,8.567,7.139,13.706   l103.924,101.068L86.51,444.096c-0.381,2.666-0.57,4.575-0.57,5.712c0,3.997,0.998,7.374,2.996,10.136   c1.997,2.766,4.993,4.142,8.992,4.142c3.428,0,7.233-1.137,11.42-3.423l128.188-67.386l128.197,67.386   c4.004,2.286,7.81,3.423,11.416,3.423c3.819,0,6.715-1.376,8.713-4.142c1.992-2.758,2.991-6.139,2.991-10.136   c0-2.471-0.096-4.374-0.287-5.712l-24.555-142.749l103.637-101.068C472.604,195.33,475.075,190.76,475.075,186.573z"></path></g></svg>
                </div>
                <div class="rivyoReviewRatingIcon">
                  <svg fill="#ffcf47" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 475.075 475.075" style="enable-background:new 0 0 475.075 475.075;" xml:space="preserve"><g><path d="M475.075,186.573c0-7.043-5.328-11.42-15.992-13.135L315.766,152.6L251.529,22.694c-3.614-7.804-8.281-11.704-13.99-11.704   c-5.708,0-10.372,3.9-13.989,11.704L159.31,152.6L15.986,173.438C5.33,175.153,0,179.53,0,186.573c0,3.999,2.38,8.567,7.139,13.706   l103.924,101.068L86.51,444.096c-0.381,2.666-0.57,4.575-0.57,5.712c0,3.997,0.998,7.374,2.996,10.136   c1.997,2.766,4.993,4.142,8.992,4.142c3.428,0,7.233-1.137,11.42-3.423l128.188-67.386l128.197,67.386   c4.004,2.286,7.81,3.423,11.416,3.423c3.819,0,6.715-1.376,8.713-4.142c1.992-2.758,2.991-6.139,2.991-10.136   c0-2.471-0.096-4.374-0.287-5.712l-24.555-142.749l103.637-101.068C472.604,195.33,475.075,190.76,475.075,186.573z"></path></g></svg>
                </div>
                <div class="rivyoReviewRatingIcon">
                  <span class="rivyoReviewEmpty">
                    <svg fill="#ffcf47" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 475.075 475.075" style="enable-background:new 0 0 475.075 475.075;" xml:space="preserve"><g><path d="M475.075,186.573c0-7.043-5.328-11.42-15.992-13.135L315.766,152.6L251.529,22.694c-3.614-7.804-8.281-11.704-13.99-11.704   c-5.708,0-10.372,3.9-13.989,11.704L159.31,152.6L15.986,173.438C5.33,175.153,0,179.53,0,186.573c0,3.999,2.38,8.567,7.139,13.706   l103.924,101.068L86.51,444.096c-0.381,2.666-0.57,4.575-0.57,5.712c0,3.997,0.998,7.374,2.996,10.136   c1.997,2.766,4.993,4.142,8.992,4.142c3.428,0,7.233-1.137,11.42-3.423l128.188-67.386l128.197,67.386   c4.004,2.286,7.81,3.423,11.416,3.423c3.819,0,6.715-1.376,8.713-4.142c1.992-2.758,2.991-6.139,2.991-10.136   c0-2.471-0.096-4.374-0.287-5.712l-24.555-142.749l103.637-101.068C472.604,195.33,475.075,190.76,475.075,186.573z"></path></g></svg>
                  </span><span class="rivyoReviewFill" style="width:57%">
                      <svg fill="#ffcf47" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 475.075 475.075" style="enable-background:new 0 0 475.075 475.075;" xml:space="preserve"><g><path d="M475.075,186.573c0-7.043-5.328-11.42-15.992-13.135L315.766,152.6L251.529,22.694c-3.614-7.804-8.281-11.704-13.99-11.704   c-5.708,0-10.372,3.9-13.989,11.704L159.31,152.6L15.986,173.438C5.33,175.153,0,179.53,0,186.573c0,3.999,2.38,8.567,7.139,13.706   l103.924,101.068L86.51,444.096c-0.381,2.666-0.57,4.575-0.57,5.712c0,3.997,0.998,7.374,2.996,10.136   c1.997,2.766,4.993,4.142,8.992,4.142c3.428,0,7.233-1.137,11.42-3.423l128.188-67.386l128.197,67.386   c4.004,2.286,7.81,3.423,11.416,3.423c3.819,0,6.715-1.376,8.713-4.142c1.992-2.758,2.991-6.139,2.991-10.136   c0-2.471-0.096-4.374-0.287-5.712l-24.555-142.749l103.637-101.068C472.604,195.33,475.075,190.76,475.075,186.573z"></path></g></svg>
                    </span></div>
              </div>
              
              <span class="rivyoReviewAverage">
                <span class="rivyoReviewAverageCount">4.6</span>
                <span class="reviewRateCount">
                  <span class="rivyoReviewAverageBracket">(</span>
                  <span class="ratingCount">7</span>
                  <span class="ratingLabel">Reviews</span>
                  <span class="rivyoReviewAverageBracket">)</span>
                </span>
              </span>
            </div>
          {% endif %}
        </div>
    </div>
  {%- endif -%}


  <!-- Desktop Price -->
  <div class="product-price-section_new">
    <div class="product-price-container_new">
      <p class="product-price_new">{{ product.selected_or_first_available_variant.price | money }}</p>
      {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
        <p class="product-price-original_new">{{ product.selected_or_first_available_variant.compare_at_price | money }}</p>
      {%- endif -%}
    </div>

    <!-- AtivaPeople Badge -->
    {%- if section.settings.show_ativapeople_badge -%}
      <div class="ativapeople-badge_new">
        {{ section.settings.ativapeople_badge_text }}
      </div>
    {%- endif -%}
  </div>

</div>