{% schema %}
{
  "name": "Risk-Free Purchase",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "RISK-FREE PURCHASE"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "WE STAND BY OUR DUMBBELLS WITH A 2-YEAR WARRANTY AND HASSLE-FREE RETURNS."
    },
    {
      "type": "image_picker",
      "id": "icon_warranty",
      "label": "Warranty Icon"
    },
    {
      "type": "image_picker",
      "id": "icon_shipping",
      "label": "Free Shipping Icon"
    },
    {
      "type": "image_picker",
      "id": "icon_returns",
      "label": "Returns Icon"
    }
  ],
  "presets": [
    {
      "name": "Risk-Free Purchase"
    }
  ]
}
{% endschema %}

<section class="bg-[#070B11] text-white text-center md:py-[50px] py-[20px]">
  <div class="mx-auto px-[10px]">
    <h2 class="text-[28px] md:text-[88px] font-bold">{{ section.settings.heading }}</h2>
    <p class="text-[16px] md:text-[22px] mt-[10px]">{{ section.settings.subheading }}</p>
  </div>
  <div class="flex justify-center gap-[20px] md:flex-[40px] md:mt-[30px] mt-[20px]">
    <div class="text-center">
      <img src="{{ section.settings.icon_warranty | image_url }}" alt="Warranty" class="w-[60px] md:w-[120px] mx-auto">
      <p class="md:text-[24px] text-[18px] mt-[10px]">WARRANTY</p>
    </div>
    <div class="text-center">
      <img src="{{ section.settings.icon_shipping | image_url }}" alt="Free Shipping" class="w-[60px] md:w-[120px] mx-auto">
      <p class="md:text-[24px] text-[18px] mt-[10px]">FREE SHIPPING</p>
    </div>
    <div class="text-center">
      <img src="{{ section.settings.icon_returns | image_url }}" alt="Returns" class="w-[60px] md:w-[120px] mx-auto">
      <p class="md:text-[24px] text-[18px] mt-[10px]">REPLACEMENTS</p>
    </div>
  </div>
</section>
